<!-- <style>

footer .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 650px;
    background-color: {{section.settings.color_footer_bg}};;
  
}

footer a{
    color: {{section.settings.color_footer_text}};   
}


footer .row li{
    list-style: none;
    color: {{section.settings.color_footer_text}};;
}

footer .col-4{
    padding: 25px 0 20px 0;
}

footer .sub-menu{
    display: none;
}

footer hr{
    border: 1px solid {{section.settings.color_footer_text}};
    opacity: 100;
}

footer .footer-menu:hover .sub-menu{
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

footer .footer-header{ 
    display: flex;
    justify-content: space-between;
}

footer .footer-header a{ 
   text-decoration: none;
}

footer .sub-link{
    padding: 10px 0 10px 0;
    text-decoration: dashed;
    color: {{section.settings.color_footer_text}};
    font-weight: 400;
}

footer .extra-links a{
    font-weight: 400;
    
}

footer .footer-special{
    background-color: {{section.settings.special_section_color}};;
    padding: 10px;
}

footer .subscribe-title{ 
    color: {{section.settings.color_footer_text}};
    display: flex;
    justify-content: center;
}


footer input[type=text]{
    background-color: {{section.settings.special_section_color}};
    border: 1px solid {{section.settings.special_section_color}};
    width: 100%;
    color: white;
    opacity: 100;
    font-size: 20px;
    outline: none;
}

footer .footer-input {
    display: flex;
    justify-content: center;
        margin-right: 5px;
}


footer .footer-input button{
    background-color: {{section.settings.special_section_color}};
    border: 1px solid {{section.settings.special_section_color}};
    color:  {{section.settings.color_footer_text}}
    font-size: 20px;
    

}

footer .input-line{
    margin: 0 15% 20px 15%;
    
}

footer .special-text{
    display: flex;
    justify-content: center;
    padding: 0 10px;

}

footer .special-text p {
    text-align: center;
    width: 350px;
    color: {{section.settings.color_footer_text}};
}

footer .footer-special .social-icons {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

footer .footer-special .social-icons i{
    font-size: 24px;
    color: {{section.settings.color_footer_text}};
    margin: 20px 10px 0 10px;
}



</style> -->

<!-- 

            {% for link in linklists.main-menu.links %} 
                {% assign child_list_handle = link.title | handleize %} 
                {% if linklists[child_list_handle].links != blank %}

                <li class="footer-menu">
                  <div class="footer-header">
                      <a href="{{link.url}}" class="footer-nav-title">{{ link.title}}</a>
                      <i class="fas fa-plus"></i>
                  </div>
                  <div class="sub-menu">
                    {% for childlink in linklists[child_list_handle].links %}
                    <a href="{{ childlink.url }}" class="sub-link">{{ childlink.title | escape }}</a>
                    {% endfor %}
                  </div>
                 </li> 
                
                
                {% else %}

                <li class="footer-menu">
                  <div class="footer-header">
                      <a href="{{ link.url }}" class="footer-nav-title">{{ link.title }}</a>
                      <i class="fas fa-plus"></i>
                  </div>
                </li>
                
                {% endif %} 
            {% endfor %} -->


<footer>
    <div class="row">
        <!-- <div class="col-4">
            <ul>
              {% for link in linklists.main-menu.links %} 
              {% assign child_list_handle = link.title | handleize %} 
              {% if linklists[child_list_handle].links != blank %}

              <li class="footer-menu">
                <div class="footer-header">
                    <a href="{{link.url}}" class="footer-nav-title">{{ link.title}}</a>
                    <i class="fas fa-plus"></i>
                </div>
                <div class="sub-menu">
                  {% for childlink in linklists[child_list_handle].links %}
                  <a href="{{ childlink.url }}" class="sub-link">{{ childlink.title | escape }}</a>
                  {% endfor %}
                </div>
               </li> 
               <hr>
              
              
              {% else %}

              <li class="footer-menu">
                <div class="footer-header">
                    <a href="{{ link.url }}" class="footer-nav-title">{{ link.title }}</a>
                    <i class="fas fa-plus"></i>
                </div>
              </li>
              <hr>
              
              {% endif %} 
              {% endfor %}
            </ul>
        </div> -->
        <div class="col-4">
          <ul>
            {% for block in section.blocks %} 
            {% assign footer_linklist = block.settings.menu%} 
            {% if linklists[footer_linklist].links != blank %}

            <li class="footer-menu">
              <div class="footer-header">
                  <a href="#" class="footer-nav-title">{{block.settings.title}}</a>
                  <i class="fas fa-plus"></i>
              </div>
              <div class="sub-menu">
                {% for childlink in linklists[footer_linklist].links %}
                <a href="{{ childlink.url }}" class="sub-link">{{ childlink.title | escape }}</a>
                {% endfor %}
              </div>
             </li> 
             <hr>
            
            
            {% else %}

            <li class="footer-menu">
              <div class="footer-header">
                  <a href="#" class="footer-nav-title">{{block.settings.title}}</a>
                  <i class="fas fa-plus"></i>
              </div>
            </li>
            <hr>
            
            {% endif %} 
            {% endfor %}
          </ul>
      </div>
  
    
        <div class="col-4 extra-links">
         <p>
          123 Maple Ave, Durham, NC 27701
         </p>
        </div>
        <div class="col-4 footer-special">
        <div class="subscribe-title">
            <h3>{{section.settings.socials_title}}</h3>
        </div>
        <!-- <div class="footer-input">
            <input type="text" placeholder="Email">
            <button>Submit</button>
        </div> -->
        <hr class="input-line">
        <div class="special-text">
            <p>{{section.settings.socials_details}}</p>
        </div>
           <ul class="social-icons">
                        {%if settings.social_facebook_link != blank %}
                        <li>
                            <a href={{settings.social_facebook_link}}>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%endif%}
                        {%if settings.social_google_link != blank %}
                        <li>                      
                            <a href={{settings.social_google_link}}>
                                <i class="fa fa-google" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%endif%}
                        {%if settings.social_twitter_link != blank %}
                        <li>
                            <a href={{settings.social_twitter_link}}>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%endif%}
                        {%if settings.social_instagram_link != blank %}
                        <li>
                            <a href={{settings.social_instagram_link}}>
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%endif%}
                        {%if settings.social_youtube_link != blank %}
                        <li>                           
                            <a href={{settings.social_youtube_link}}>
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%endif%}
                        {%if settings.social_pinterest_link != blank %}
                        <li>
                            <a href={{settings.social_pinterest_link}}>
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%endif%}
                        {%if settings.social_snapchat_link != blank %}
                        <li>
                            <a href={{settings.social_snapchat_link}}>
                                <i class="fa fa-snapchat" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%endif%}
                        {%if settings.social_vimeo_link != blank %}
                        <li>
                            <a href={{settings.vimeo_link}}>
                                <i class="fa fa-vimeo" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%endif%}
                        {%if settings.social_tumblr_link != blank %}
                        <li>
                            <a href={{settings.social_tumblr_link}}>
                                <i class="fa fa-tumblr" aria-hidden="true"></i>
                            </a>
                        </li>
                        {%endif%}

                    </ul>
        </div>
</div>
</footer>

{% schema %}
{
  "name": {
    "cs": "Zápatí",
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pl": "Stopka",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "tr": "Altbilgi",
    "vi": "Chân trang",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 6,
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": "Background",
      "default": "#EA0606"
    },
    {
      "type": "color",
      "id": "special_section_color",
      "label": "Background",
      "default": "#EA0606"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": "Text",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Socials"
    },
    {
      "type": "text",
      "id": "socials_title",
      "label": "Title",
      "default": "Stay in the know"
    },
    {
      "type": "text",
      "id": "socials_details",
      "label": "Details",
      "default": "Follow us to stay updated on deals, give aways and to see what our team is up to!"
    }
    
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "cs": "Rychlé odkazy",
            "da": "Genvejslinks",
            "de": "Quick-Links",
            "en": "Quick links",
            "es": "Enlaces rápidos",
            "fi": "Pikalinkit",
            "fr": "Liens rapides",
            "it": "Link rapidi",
            "ja": "クイックリンク",
            "ko": "빠른 링크",
            "nb": "Hurtigkoblinger",
            "nl": "Snelle links",
            "pl": "Szybkie linki",
            "pt-BR": "Links rápidos",
            "pt-PT": "Ligações rápidas",
            "sv": "Snabblänkar",
            "th": "ลิงก์ด่วน",
            "tr": "Hızlı bağlantılar",
            "vi": "Liên kết nhanh",
            "zh-CN": "快速链接",
            "zh-TW": "快速連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "cs": "Nabídka",
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "nb": "Meny",
            "nl": "Menu",
            "pl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "tr": "Menü",
            "vi": "Menu",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "cs": "Informujte o svém obchodu",
            "da": "Fortæl om din virksomhed",
            "de": "Rede über dein Unternehmen",
            "en": "Talk about your business",
            "es": "Habla sobre tu negocio",
            "fi": "Kerro yrityksestäsi",
            "fr": "Parlez de votre entreprise",
            "it": "Parla della tua attività commerciale",
            "ja": "あなたのビジネスについて語る",
            "ko": "비즈니스에 대한 이야기하기",
            "nb": "Snakk om bedriften din",
            "nl": "Vertel over je bedrijf",
            "pl": "Opowiedz o swojej firmie",
            "pt-BR": "Fale sobre o seu negócio",
            "pt-PT": "Fale sobre o seu negócio",
            "sv": "Prata om ditt företag",
            "th": "พูดถึงธุรกิจของคุณ",
            "tr": "İşletmenizden bahsedin",
            "vi": "Chia sẻ về doanh nghiệp của bạn",
            "zh-CN": "介绍您的业务",
            "zh-TW": "描述您的商家"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "cs": "Text",
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "tr": "Metin",
            "vi": "Văn bản",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": {
            "cs": "<p>Popište zákazníkům podrobně svůj obchod, propagační akce nebo značky nabízeného zboží.</p>",
            "da": "<p>Del butiksoplysninger, reklamer eller brandindhold med dine kunder.</p>",
            "de": "<p>Teile deine Shop-Details, Werbeaktionen oder Markeninhalte mit deinen Kunden.</p>",
            "en": "<p>Share store details, promotions, or brand content with your customers.</p>",
            "es": "<p>Comparte detalles de la tienda, promociones o contenido de la marca con tus clientes.</p>",
            "fi": "<p>Jaa myymälän tiedot, tarjoukset tai brändin sisältö asiakkaittesi kanssa.</p>",
            "fr": "<p>Partagez les détails de la boutique, les promotions ou le contenu de la marque avec vos clients.</p>",
            "it": "<p>Condividi dettagli del negozio, promozioni o contenuti del brand con i clienti.</p>",
            "ja": "<p>ストア詳細、プロモーション、ブランドのコンテンツをお客様と共有する。</p>",
            "ko": "<p>스토어 세부 정보, 프로모션 또는 브랜드 콘텐츠를 고객과 공유하십시오.</p>",
            "nb": "<p>Del butikkdetaljer, kampanjer eller merkevareinnhold med kundene dine.</p>",
            "nl": "<p>Deel winkeldetails, promoties of merkcontent met je klanten.</p>",
            "pl": "<p>Poinformuj swoich klientów o sklepie, promocjach lub zawartości marki.</p>",
            "pt-BR": "<p>Compartilhe informações da loja, promoções ou conteúdo da marca com seus clientes.</p>",
            "pt-PT": "<p>Partilhe detalhes da loja, promoções ou conteúdo de marca com os seus clientes.</p>",
            "sv": "<p>Dela butikens detaljer, kampanjer eller varumärkesinnehåll med dina kunder.</p>",
            "th": "<p>แชร์รายละเอียดร้านค้า โปรโมชัน หรือเนื้อหาแบรนด์กับลูกค้าของคุณ</p>",
            "tr": "<p>Mağaza ayrıntılarını, promosyonları, marka içeriğini müşterilerinizle paylaşın.</p>",
            "vi": "<p>Chia sẻ thông tin cửa hàng, khuyến mãi hoặc nội dung thương hiệu với khách hàng.</p>",
            "zh-CN": "<p>与您的客户共享商店详细信息、促销信息或品牌内容。</p>",
            "zh-TW": "<p>與顧客分享商店的詳細資訊、宣傳活動或品牌內容。</p>"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "cs": "Přihlášení k odběru novinek",
        "da": "Tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fi": "Uutiskirjeen tilaus",
        "fr": "Inscription",
        "it": "Iscriviti alla Newsletter",
        "ja": "ニュースレターの登録",
        "ko": "뉴스레터 신청",
        "nb": "Registrering for nyhetsbrev",
        "nl": "Nieuwsbriefaanmelding",
        "pl": "Rejestracja do newslettera",
        "pt-BR": "Assinatura da newsletter",
        "pt-PT": "Registo na newsletter",
        "sv": "Nyhetsbrevsregistrering",
        "th": "การสมัครรับจดหมายข่าว",
        "tr": "Bülten aboneliği",
        "vi": "Đăng ký nhận bản tin",
        "zh-CN": "新闻通讯注册",
        "zh-TW": "訂閱電子報"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "info": {
            "cs": "Odběratelé budou přidáni do vašeho [seznamu zákazníků, kteří přijímají marketing.](/admin/customers?query=&accepts_marketing=1)",
            "da": "Abonnenter bliver føjet til [kundelisten](/admin/customers?query=&accepts_marketing=1) for \"accepterer markedsføring\".",
            "de": "Abonnenten werden zu deiner Liste „akzeptiert Marketingmaterial“ hinzugefügt [Kundenliste.](/admin/customers?query=&accepts_marketing=1)",
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
            "es": "Se añadirá los suscriptores a tu [lista de clientes.](/admin/customers?query=&accepts_marketing=1) \"acepta marketing\".",
            "fi": "Tilaajat lisätään \"hyväksyy markkinointi\" [-asiakasluetteloosi. ](/admin/customers?query=&accepts_marketing=1)",
            "fr": "Les abonnés seront ajoutés à votre [liste de clients](/admin/customers?query=&accepts_marketing=1) « Accepte le marketing ».",
            "it": "Gli iscritti verranno aggiunti al tuo [elenco clienti.](/admin/customers?query=&accepts_marketing=1) «accetta marketing»",
            "ja": "購読者は「マーケティングを受け入れる」[顧客リスト](/admin/customers?query=&accepts_marketing=1) に追加されます。",
            "ko": "가입자가 \"마케팅 수락\" [고객 목록.](/admin/customers?query=&accepts_marketing=1)에 추가됩니다.",
            "nb": "Abonnenter vil bli lagt til i «aksepterer markedsføring» [kundeliste.](/admin/customers?query=&accepts_marketing=1)",
            "nl": "Abonnees worden toegevoegd aan je \"accepteert marketing\" [klantenlijst.](/admin/customers?query=&accepts_marketing=1)",
            "pl": "Subskrybenci zostaną dodani do Twojej [listy klientów \"akceptujących marketing\".](/admin/customers?query=&accepts_marketing=1)",
            "pt-BR": "Os assinantes serão adicionados à “aceita marketing” [lista de clientes. ](/admin/customers?query=&accepts_marketing=1)",
            "pt-PT": "Os subscritores serão adicionados à sua lista de \"aceitam marketing\" [lista de clientes.](/admin/customers?query=&accepts_marketing=1)",
            "sv": "Prenumeranter läggs till i din \"accepterar marknadsföring\" [kundlista. ](/admin/customers?query=&accepts_marketing=1)",
            "th": "ระบบจะเพิ่มผู้สมัครใช้งานไปยังส่วน “ยอมรับการตลาด” ของคุณ [รายชื่อลูกค้า](/admin/customers?query=&accepts_marketing=1)",
            "tr": "Aboneler \"pazarlama kabul ediyor\" [müşteri listenize](/admin/customers?query=&accepts_marketing=1) eklenir.",
            "vi": "Người đăng ký sẽ được thêm vào [danh sách khách hàng](/admin/customers?query=&accepts_marketing=1) \"chấp nhận tiếp thị\".",
            "zh-CN": "订阅者将被添加到您的“接受营销”[客户列表](/admin/customers?query=&accepts_marketing=1)中。",
            "zh-TW": "系統會將訂閱者新增至您的「接受行銷」[客戶清單。](/admin/customers?query=&accepts_marketing=1)"
          },
          "default": {
            "cs": "Novinky",
            "da": "Nyhedsbrev",
            "de": "Newsletter",
            "en": "Newsletter",
            "es": "Boletín",
            "fi": "Uutiskirje",
            "fr": "Newsletter",
            "it": "Newsletter",
            "ja": "ニュースレター",
            "ko": "뉴스레터",
            "nb": "Nyhetsbrev",
            "nl": "Nieuwsbrief",
            "pl": "Newsletter",
            "pt-BR": "Newsletter",
            "pt-PT": "Newsletter",
            "sv": "Nyhetsbrev",
            "th": "จดหมายข่าว",
            "tr": "Bülten",
            "vi": "Bản tin",
            "zh-CN": "新闻通讯",
            "zh-TW": "電子報"
          }
        }
      ]
    }
  ]
}
{% endschema %}
